{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html> 
<html>
{% block title %}Upload PDF{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
<h3>Upload PDF</h3>
<hr>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <input type="submit" name="save" class="btn btn-success">
</form>

<br>
<p>
    <h3>Uploaded PDFs</h3>
    <hr>
    <body> 
        <ul>
            {% for file_name in file_list %}
            <li><a href="{{ Media_URL }}uploaded_pdfs/{{ file_name.url }}" download="{{ Media_URL }}uploaded_pdfs/{{ file_name.url }}">{{file_name}}</a></li>
            {% endfor %}
        </ul>
    </body>
</p>
</html>

{% endblock %}