{% extends 'main/base.html'%}
<!DOCTYPE html>
<html>

    
    {% block title %} Add Clients{% endblock %}
    
    {% load crispy_forms_tags %}
    {% block content%}
    <body>
        <h3>Add Client</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <input type="Submit" value="Add Client" class="btn btn-success">
        </form>
        
    </body>
    {% endblock %}
    
    
    
    
</html>

