{% extends 'main/base.html'%}
<!DOCTYPE html>
<html>
    {% block title %}Clients{% endblock %}

    {% block content%}
    <body>
        <h3>Clients</h3>
        {% if clients %}
        <ul>
            {% for client in clients %}
            <li>
                <h5>{{ client.name }}</h5>
                <p>Phone: {{ client.phone }}</p>
                <p>Email: {{ client.email }}</p>
                <a href="{% url 'edit_client' client.id %}">View</a>
                <a href="{% url 'delete_client' client.id %}">Delete</a>
                <hr>
            </li>
            {% endfor %}
            <a href="/add-client">
                <button class="btn btn-success">Add Client</button>
            </a>
        </ul>
        {% else %}
            <p>No clients submited yet.</p>
            <a href="/add-client">
                <button class="btn btn-success">Add Client</button>
            </a>
        {% endif %}
    </body>
    {% endblock %}
</html>